h1 {
    color: orange;
    font-family: sans-serif;
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
}

ul {
    background-color: rgb(196, 48, 176);
}

.fundo {
    background-color: rgb(134, 233, 220);
}

#amarelo{
    background-color: yellow;
    font-style: italic;
    line-height: 30px;
}

#vermelho{
    background-color: red;
    font-style: italic;
    line-height: 30px;
}

#marrom{
    background-color: brown;
    font-style: italic;
    line-height: 30px;
}
p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px; 
}