.super-mario {
    position: absolute;
    width: 160px;
    top: 100px;
    margin-left: 50px;
    z-index: 1;
}

.word{
    position: absolute;
    top: 110px;
    z-index: 3;
    margin-left: 230px;

}

.goomba {
    position: absolute;
    width: 120px;
    top: 280px;
    margin-left: 225px;
    z-index: 2;
}

.bowser{
    position: absolute;
    width: 280px;
    top: 50px;
    margin-left: 400px;
}

.baloon{
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 215px;
}